---
interface Props {
  speed?: number;
}

const { speed = 1.5 } = Astro.props;
---

<div class="absolute inset-0 z-1 overflow-hidden pointer-events-none">
  <div
    class="scrolling-grid-container absolute inset-0 bg-[linear-gradient(rgba(3,136,252,0.12)_1px,transparent_1px),linear-gradient(90deg,rgba(3,136,252,0.12)_1px,transparent_1px)]"
  >
  </div>
</div>

<style define:vars={{ speed: `${speed}s` }}>
  .scrolling-grid-container {
    background-size: 50px 50px;
    animation: scrolling-grid var(--speed) linear infinite;
  }

  @keyframes scrolling-grid {
    0% {
      background-position:
        0 0,
        0 0;
    }
    100% {
      background-position:
        50px 50px,
        50px 50px;
    }
  }
</style>
